<div fxFlex fxLayout="column" class="container">
    <mat-toolbar color="primary">
        Upload Caff
    </mat-toolbar>
    <div fxFlex fxLayout="column">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="file-upload">
            <span>
                {{fileName || "No file uploaded yet."}}
            </span>
            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>
        <button type="submit" mat-flat-button color="primary" (click)="upload()" [disabled]="!file"
            class="upload">Upload</button>
    </div>
    <input type="file" style="display: none;" (change)="onChange($event)" #fileUpload>
</div>